@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500;600;700 & family= Delicious+Handrawn & family= Roboto+Condensed:ital,wght@ 0,400;0,700;1,700 & familia= Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,900 & display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

input {
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

button {
    font-family:
     'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
}